<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="DBCS5" connectionString="Data Source=.\MYSQL2016;Initial Catalog=cafa_management_syustem;User ID=sa;Password=admin1234"
   providerName="System.Data.SqlClient" />
  <add name="DBCS" connectionString="Data Source=.\MYSQL2016;Initial Catalog=cafa_management_syustem;User ID=sa;Password=admin1234"
   providerName="System.Data.SqlClient" />
  <add name="DBCS1" connectionString="Data Source=.\MYSQL2016;Initial Catalog=cafa_management_syustem;User ID=sa;Password=admin1234"
   providerName="System.Data.SqlClient" />
  <add name="DBCS4" connectionString="Data Source=.\MYSQL2016;Initial Catalog=cafa_management_syustem;User ID=sa;Password=admin1234"
   providerName="System.Data.SqlClient" />
    <add name="DBCS8" connectionString="Data Source=.\MYSQL2016;Initial Catalog=cafa_management_syustem;User ID=sa;Password=admin1234"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
